<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6a1d8f9a-5f9a-4aa8-b935-1b807a33627f/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/99xAssessment220220924210846</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://99xassessment220220924210846.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>99xassessment220220924210846.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>99xAssessment220220924210846</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$99xAssessment220220924210846</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:simranazserver.database.windows.net,1433;Initial Catalog=99xAssessment2_db;User ID=simranadmin@simranazserver;Password=Simran1990" Name="Data Source=tcp:simranazserver.database.windows.net,1433;Initial Catalog=99xAssessment2_db;User ID=simranadmin@simranazserver;Password=Simran1990;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="_99xAssessment2.Repository.ORM.Entities, 99xAssessment2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:simranazserver.database.windows.net,1433;Initial Catalog=99xAssessment2_db;Persist Security Info=True;User ID=simranadmin;Password=Simran1990" Name="Data Source=tcp:simranazserver.database.windows.net,1433;Initial Catalog=99xAssessment2_db;Persist Security Info=True;User ID=simranadmin;Password=Simran1990;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="_99xAssessment2.Models.ApplicationDbContext, 99xAssessment2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:simranazserver.database.windows.net,1433;Initial Catalog=99xAssessment2_db;Persist Security Info=True;User ID=simranadmin;Password=Simran1990;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Repository.ORM.99XEntities.csdl|res://*/Repository.ORM.99XEntities.ssdl|res://*/Repository.ORM.99XEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:simranazserver.database.windows.net,1433;Initial Catalog=99xAssessment2_db;User ID=simranadmin@simranazserver;Password=Simran1990;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>