
@{
    ViewBag.Title = "Dashboard";
}


<div class="row">

    <div class="col-md-3">
        <h2>Balance Report</h2>
        <p>
            <a class="btn btn-default" href="/Common/BalanceReport">View Balance Report</a>
        </p>
    </div>

</div>
